<html lang="en" >
  <head>
    <title>Forgot Password </title>
  <link rel="stylesheet" href="forgot-password.component.css">
  </head>
  <body>
<div class="container">
  <div class="center">
    <div class="header">
      <h1 class="animation a1">Welcome!</h1>
      <h4 class="animation a2">Reset Your Password</h4>
    </div>
    <div class="form">
      <input type="email" class="form-field" placeholder="enter email id">
      <input type="password" class="form-field" placeholder="reset password">
      <input type="password" class="form-field" placeholder="confirm password">
      <button class="animation a6"><a href="#">Reset</a></button>
    </div>
  </div>
</div>
</body>
  </html>
